{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}


{% block content %}
    <!-- Contact section -->
    <section class="contact-section mt-5">
        <div class="contact-warp set-bg" data-setbg="{{ asset('img/contact_bg.jpeg') }}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="contact-info">
                            <h4>Connectez-vous</h4>
                        </div>
                        <div class="contact-info">
                            <img src="{{ asset('img/logo-cf.png') }}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <form method="post" action="" class="contact-form">

                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            <label for="username">Nom d'utilisateur:</label>
                            <input type="text" name="username" id="username" class="form-control" autocomplete="email" required value="{{ last_username }}">
                            <label for="inputPassword">Mot de passe:</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="item_checkbox" name="_remember_me" checked>
                                <span class="custom-control-label">&nbsp;Se souvenir de moi</span>
                            </label>
                            <button class="site-btn" type="submit">Connexion</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact section end -->
{% endblock %}
