{% extends 'base.html.twig' %}

{% block title %}Galerie photos{% endblock %}

{% block header %}
    <!-- Header section -->
    <header class="header-section">
        <div class="gallery-header">
            <h4>Galeries: </h4>
            <div class="gallery-filter">
                {% for gallery in galleries %}
                    <a class="filter" href="{{ path('app_front_gallery', {'slug': gallery.slug }) }}" title="Galerie {{ gallery.title }}"><i class="fa-solid fa-photo-film"></i> {{ gallery.images|length }} | {{ gallery.title }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="menu-switch" id="menu-canvas-show">
            <i class="icon_menu"></i>
        </div>
    </header>
    <!-- Header section end -->
{% endblock %}

{% block content %}
    <section class="gallery-section">
        <div class="container-sm">
            <div class="row justify-content-center">
                <div class="col col-md-12">
                    <div class="gallery-container" id="animated-thumbnails-gallery">

                        {% if gallery is defined %}
                            {% for image in gallery.images %}

                                <a data-lg-size="1600-1067" class="gallery-item" data-src="{{ asset('/media/cache/gallery/'~image.name) }}">
                                    <img alt="" class="img-responsive" src="{{ asset('/media/cache/gallery/'~image.name) }}" />
                                </a>

                            {% endfor %}
                        {% else %}
                            {% for gallery in galleries %}
                                {% for image in gallery.images %}

                                        <a data-lg-size="1600-1067" class="gallery-item" data-src="{{ asset('/media/cache/gallery/'~image.name) }}">
                                            <img alt="" class="img-responsive" src="{{ asset('/media/cache/gallery/'~image.name) }}" />
                                        </a>

                                {% endfor %}
                            {% endfor %}
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}