{% extends 'base.html.twig' %}

{% block title %}Galerie photos{% endblock %}

{% block header %}
    <!-- Header section -->
    <header class="header-section">
        <div class="gallery-header">
            <h4>Galeries: </h4>
            <ul class="gallery-filter">
                {% for gallery in galleries %}
                    <li class="filter" data-filter=".{{ gallery.slug }}">{{ gallery.title }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="menu-switch" id="menu-canvas-show">
            <i class="icon_menu"></i>
        </div>
    </header>
    <!-- Header section end -->
{% endblock %}

{% block content %}
    <!-- Gallery section -->
    <section class="gallery-section">
        <div class="row gallery-gird">

            {% for gallery in galleries %}
                {% for image in gallery.images %}
                    <div class="col-lg-4 col-xl-3 col-sm-6 {{ gallery.slug }}">
                        <a class="fresco gallery-item" href="{{ asset('/media/cache/gallery/'~image.name) }}" data-fresco-group="{{ gallery.slug }}">
                            <img src="{{ asset('/media/cache/gallery/'~image.name) }}" alt="">
                        </a>
                    </div>
                {% endfor %}
            {% endfor %}

        </div>
    </section>
    <!-- Gallery section end -->
{% endblock %}
